<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soanlv.btvn">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Day4Bai1.Bai1Activity" />
        <activity android:name=".Day4Activity" />
        <activity android:name=".Day4bai2.Bai2Activity" />
        <activity android:name=".Day4bai2.ResgerActivity" />
        <activity android:name=".Day4bai3.Bai3Activity" />
        <activity android:name=".Day4bai3.GameOverActivity" />
        <activity android:name=".Day5Activity" />
        <activity android:name=".Bai1Day5.Bai1D5Activity" />
        <activity android:name=".Bai2Day5.Bai2Activity" />
        <activity android:name=".Bai3Day5.Bai3D5Activity" />
        <activity android:name=".Bai3Day5.Man2Activity" />
        <activity android:name=".Man3d5Activity"></activity>
    </application>

</manifest>